@import 'custom.css';

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #EDF5FA;
  font-family: 'Arima Madurai', cursive !important;
  font-weight: 600;
  text-shadow: 5px 5px 10px #15023B;
  height: 800px;
  position: absolute;
  right: -31%;
  top: 83%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 5vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #EDF5FA;
  top: 0;
  text-align: right;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  right: 2%;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #EDF5FA;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  right: 2%;
  text-align: right;
  top: 0;
  transform: translate(0, -100%);
}

.back-link {
  color: #EDF5FA;
  text-decoration: none !important;
  text-shadow: 5px 5px 10px #15023B;
}